body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

/* Book page formatting */

input{
    display: none;
}

img{
    position: relative;
    width: 100%;
    height: 100%;
}

.book {
    display: flex;
}

#cover {
    width: 50vw;
    height: 100vh;
}

.flip-book {
    width: 50vw;
    height: 100vh;
    position: relative;
    perspective: 1500px;
}

.flip {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: left;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition: .5s;
    color: #000;
}

.front {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    box-sizing: border-box;
    padding: 0 13px;
    position: relative;
}

.back {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    background-color: transparent;
}

.next-btn {
    position: absolute;
    bottom: 13px;
    right: 13px;
    cursor: pointer;
    color: #000;
}

.back-btn {
    position: absolute;
    bottom: 13px;
    right: 13px;
    cursor: pointer;
    color: #fff;
}

#p1 {
    z-index: 3;
}

#p2 {
    z-index: 2;
}

#p3 {
    z-index: 1;
}

#c1:checked~.flip-book #p1 {
    transform: rotateY(-180deg);
    z-index: 1;
}

#c2:checked~.flip-book #p2 {
    transform: rotateY(-180deg);
    z-index: 2;
}

#c3:checked~.flip-book #p3 {
    transform: rotateY(-180deg);
    z-index: 3;
}

.para{
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}


.cover-back{
    height: 100%;
    background-image: url(../images/Bertie_Bear.jpg);
    background-size: cover;
    color: #fff;
}

.back-page-1{
    height: 100%;
    background-image: url(../images/Bertie_Bear_01.jpg);
    background-size: cover;
    color: #fff;
}

.page-2-back{
    height: 100%;
    background-image: url(../images/Bertie_Bear.jpg);
    background-size: cover;
    color: #fff;
}